.blocks-radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  +.blocks-radio {
    margin-left: 15px;
  }
  &__label {
    font-size: 14px;
    padding-left: 5px;
  }
  &__input {
    display: inline-block;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    &--checked {
      .blocks-radio__inner {
        background: $primary;
        border-color: $primary;
        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    &--disabled {
      .blocks-radio__inner {
        background: $gray-200;
        border-color: $gray-300;
        cursor: not-allowed;
        &::after {
          cursor: not-allowed;
        }
      }
      +.blocks-radio__label {
        cursor: not-allowed;
        color: $gray-400;
      }
    }
    &--focus {
      border-color: $primary;
    }
  }

  &__inner {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid $gray-500;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      background: $white;
      width: 6px;
      height: 6px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 200ms;
    }
    &:hover {
      border-color: $primary;
    }
  }

  &__original {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    outline: 0;
    margin: 0;
    padding: 0;
  }

}

.blocks-radio-group {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.blocks-radio-button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  &__inner {
    background-color: $white;
    border: 1px solid $gray-300;
    outline: 0;
    border-left: 0;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 0;
  }
  &--checked {
    .blocks-radio-button__inner {
      background: $primary;
      border-color: $primary;
      color: $white;
    }
  }
  &--disabled {
    .blocks-radio-button__inner {
      background: $gray-200;
      border-color: $gray-300;
      cursor: not-allowed;
      color: $gray-400;
    }
  }
  &--large {
    .blocks-radio-button__inner {
      font-size: 16px;
      padding: 11px 19px;
    }
  }
  &--small {
    .blocks-radio-button__inner {
      font-size: 12px;
      padding: 7px 9px;
    }
  }

  &:first-child {
    .blocks-radio-button__inner {
      border-left: 1px solid $gray-300;
      border-radius: 4px 0 0 4px;
    }
  }
  &:last-child {
    .blocks-radio-button__inner {
      border-radius: 0px 4px 4px 0px;
    }
  }
  &__original {
    opacity: 0;
    position: absolute;
    z-index: -1;
    outline: 0;
  }
}
