.blocks-button {
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $gray-300;
  color: $black;
  margin: 0;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  &:hover, &:focus {
    color: $primary ;
    border-color: $primary;
  }
  &:active {
    color: darken($primary, 15%);
    border-color: darken($primary, 15%);
  }
  &--loading {
    position: relative;
    pointer-events: none;
  }
  &--loading::before {
    position: absolute;
    left: -1px;
    right: -1px;
    top:-1px;
    bottom: -1px;
    pointer-events: none;
    content: '';
    border-radius: inherit;
    background-color: rgba(255,255,255,.35)
  }
  &--primary {
    color: $white;
    border-color: $primary;
    background-color: $primary;
    &:hover, &:focus {
      color: $white;
      background-color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
    &:active {
      color: $white;
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
    &.blocks-button--plain:hover, 
    &.blocks-button--plain:focus {
      color: $primary ;
      border-color: $primary;
      background-color: transparent;
    }
    &.blocks-button--plain:active {
      color: darken($primary, 15%);
      border-color: darken($primary, 15%);
      background-color: transparent;
    }
  }
  &--success {
    color: $white;
    border-color: $success;
    background-color: $success;
    &:hover, &:focus {
      color: $white;
      background-color: lighten($success, 10%);
      border-color: lighten($success, 10%);
    }
    &:active {
      color: $white;
      background-color: darken($success, 10%);
      border-color: darken($success, 10%);
    }
    &.blocks-button--plain:hover, 
    &.blocks-button--plain:focus {
      color: $success ;
      border-color: $success;
      background-color: transparent;
    }
    &.blocks-button--plain:active {
      color: darken($success, 15%);
      border-color: darken($success, 15%);
      background-color: transparent;
    }
  }
  &--warning {
    color: $white;
    border-color: $warning;
    background-color: $warning;
    &:hover, &:focus {
      color: $white;
      background-color: lighten($warning, 10%);
      border-color: lighten($warning, 10%);
    }
    &:active {
      color: $white;
      background-color: darken($warning, 10%);
      border-color: darken($warning, 10%);
    }
    &.blocks-button--plain:hover, 
    &.blocks-button--plain:focus {
      color: $warning ;
      border-color: $warning;
      background-color: transparent;
    }
    &.blocks-button--plain:active {
      color: darken($warning, 15%);
      border-color: darken($warning, 15%);
      background-color: transparent;
    }
  }
  &--danger {
    color: $white;
    border-color: $danger;
    background-color: $danger;
    &:hover, &:focus {
      color: $white;
      background-color: lighten($danger, 10%);
      border-color: lighten($danger, 10%);
    }
    &:active {
      color: $white;
      background-color: darken($danger, 10%);
      border-color: darken($danger, 10%);
    }
    &.blocks-button--plain:hover, 
    &.blocks-button--plain:focus {
      color: $danger ;
      border-color: $danger;
      background-color: transparent;
    }
    &.blocks-button--plain:active {
      color: darken($danger, 15%);
      border-color: darken($danger, 15%);
      background-color: transparent;
    }
  }
  &--info {
    color: $white;
    border-color: $info;
    background-color: $info;
    &:hover, &:focus {
      color: $white;
      background-color: lighten($info, 10%);
      border-color: lighten($info, 10%);
    }
    &:active {
      color: $white;
      background-color: darken($info, 10%);
      border-color: darken($info, 10%);
    }
    &.blocks-button--plain:hover, 
    &.blocks-button--plain:focus {
      color: $info ;
      border-color: $info;
      background-color: transparent;
    }
    &.blocks-button--plain:active {
      color: darken($info, 15%);
      border-color: darken($info, 15%);
      background-color: transparent;
    }
  }
  &--text {
    color: $primary;
    border: none;
    background-color: transparent;
    &:hover, &:focus {
      color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
    &:active {
      color: darken($primary, 15%);
      border-color: darken($primary, 15%);
    }
  }
  &--disabled {
    color: $gray-500;
    cursor: not-allowed;
    background-color: $gray-300;
    border-color: $gray-400;
    &:hover, &:focus, &:active {
      color: $gray-500;
      background-color: $gray-300;
      border-color: $gray-400;
    }
    &.blocks-button--text {
      background-color: transparent;
    }
  }
  &--plain {
    background-color: $white;
    border:1px solid $gray-300;
    color: $dark;
  }
  &--large {
    font-size: 16px;
    padding: 11px 19px;
  }
  &--small {
    font-size: 12px;
    padding: 7px 9px;
  }
  &--mini {
    font-size: 12px;
    padding: 4px;
  }
  &__spinner {
    animation: rotating 1s linear infinite;
  }
  span {
    margin-left: 5px;
  }
}
